        
        body{
        display: flex;
        flex-direction: column; 
        overflow-x: hidden;
        font-family: sans-serif;
        color: #414143;
        color: #666;
        background-color: #fff;
        font-family: sans-serif!important;
        }
    main {
    display: flex;
    flex-direction: row;
    flex: auto;
}
    article{
    flex: 2;
    overflow-y: auto;
    box-shadow: inset 1px 0px 10px #999;
    padding-top: 0;
}     
        aside{
         overflow-y: auto;
         flex: 1;

}   
header{
font-family: cursive!important;
    background: #1b1a1a!important;
    color: white;
    height: 120px!important;
    border-bottom: 2px solid!important;
    color: white!important;
    padding: 0!important;
}
header li a{
    color: #fff;
}
header ul li{
    margin: 0 4vw!important;
}
header ul {
        padding-left: 170px!important;
    font-size: 18px!important;
    padding-top: 52px!important;

}
header img{
        width: 180px!important;
            position: absolute;
}
header li a:hover {

    text-decoration: underline;
}
img{
    width: 100%;
}
.contenido p{
    
    clear: left;
        margin-block-start: 1em;
    margin-block-end: 1em;
}
.fb_iframe_widget {

    bottom: 2px;
}

.right{
    
        bottom: 63px;
    position: relative;
}
@media (max-width: 800px){

    header img{
    display:none;
}
header ul {
    padding-left: 0px!important;
    font-size: 16px!important;

}
    .right{
        display: flex;
        padding-left: 0px

    }
    header ul li {
    margin: 0 0vw!important;
}
.fb_iframe_widget {
    bottom: 0px;
        margin-right: 10px;
}
footer >img{
        display: none;
}
footer p{
    font-size:16px;
}
h1 {
    font-size: 24px!important;
}
h2{
        font-size: 16px!important;
}
.contenido p {
    font-size: 15px!important;
}

}

    article>h1 {
    text-align-last: center;
    padding: 30px;
    background-color: #f7f7f7;
    margin-top: 30px!important;
    display: block; 
    font-size: 32px;
    font-family: none;
    text-align: -webkit-center;
    color: black; 
}
    h2{
    font-weight: 600;
    color: #000;
    font-size: 1.313em;
    font-family: inherit;
    font-style: inherit;
    text-align: -webkit-center
    }


.h3 {
    font-style: italic;
    text-align-last: center;
    font-size: 13px;
    font-weight: normal;
    color: #666;
    margin: 0 0 23px;
    margin-top: 23px;
    font-family: sans-serif!important;

}
   
    .imgteam,.contenido p{
    width: 100%!important;
    max-width: 1000px;
    max-height: 500px;
    font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
    font-size: 17px;
    line-height: 1.65;
    }
    strong{
        font-weight: 700;
    }
    .nomte{
    color: #337ab7;
    }
    #imagen {
    width: 100%;
    height: 400px;
    background-size: auto;
    background-repeat: round;
        }   

        .galeria {
            max-width: 800px;
            margin: 0 auto;
        }

    #derecha{
    float: right;
    position: relative;
    bottom: 200px;
    font-weight: 700;
    font-size: 38px;
    border: 0;
    background: #000000;
    margin-right: 10px;
    font-family: arial;
    color: white;
        }

    #izquierda{
    float: left;
    position: relative;
    bottom: 200px;
    font-weight: 700;
    font-size: 38px;
    border: 0;
    background: #000000;
    margin-right: 10px;
    font-family: arial;
    color: white;
        }

    #derecha:hover,#izquierda:hover {
    background: #ffffff87;
    color: black;
    font-weight: 500;
}
footer{
        background: #1b1a1a;
    color: white;
    font-family: cursive!important;
        font-size: 19px!important;
        display: flex!important;
        height: 140px!important;
}
footer p a{
color: white;
text-decoration: none;
}
footer p a:hover{

text-decoration:underline;
}
footer p{
        margin: 0 2vw!important;
         align-self: center;
}
footer >a{
        align-self: center;
}
footer  img{
    width: 220px;
}
.imghol {
    margin: 0 2vw!important;
}
